<%- include('../layouts/adminHeader') %>
<div class="main-panel">
   <div class="content-wrapper">
      <!-- Card for displaying categories -->
      <div class="card">
         <!-- Card body for displaying categories -->
         <div class="card-body">
            <div class="col-lg-12 stretch-card">
               <div class="card">
                  <div class="card-body">
                     <!-- Heading for categories -->
                     <h4 class="card-title" style="float: left;">CATEGORIES</h4>
                     <a href="/admin/addCategory"><button class="btn btn-outline-secondary" type="button" style="float: right;">
                        Add Category
                        </button></a>
                        <!-- Button to trigger the category offers modal -->
                        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#categoryOffersModal" style="float: right; margin-right: 10px;">
                           Apply Category Offers
                        </button>
                     <!-- Search input and button -->
                     <div class="input-group mb-3">
                        <input
                           type="text"
                           class="form-control mr-2"
                           placeholder="Search by Category Name"
                           aria-label="Search categories"
                           aria-describedby="search-button"
                           id="categorySearch"
                           style="margin-right: 20px; color: white" />
                        <!-- Set placeholder color -->
                        <button
                           class="btn btn-outline-secondary"
                           type="button"
                           id="search-button"
                           onclick="searchCategories()">
                        Search
                        </button>
                     </div>
                     <!-- Table for displaying categories -->
                     <div class="table-responsive">
                        <table
                           class="table table-bordered table-contextual"
                           style="margin-bottom: 30px">
                           <thead>
                              <tr>
                                 <th style="width: 25%">Category Name</th>
                                 <th style="width: 45%">Description</th>
                                 <th style="width: 15%">Actions</th>
                                 <th>Category Offer</th>
                                 <th>Remove Offer</th>
                                 <th style="width: 15%">Edit</th>
                              </tr>
                           </thead>
                           <tbody>
                              <% categories.forEach((category, index) => { %>
                              <!-- Loop through categories and display each row -->
                              <tr
                                 class="<%= index % 5 === 0 ? 'table-info' : index % 5 === 1 ? 'table-warning' : index % 5 === 2 ? 'table-danger' : index % 5 === 3 ? 'table-success' : 'table-primary' %>">
                                 <td><%= category.categoryName %></td>
                                 <td><%= category.description %></td>
                                 <td>
                                    <!-- Form for toggling category listing status -->
                                    <form
                                       action="/admin/toggleCategory/<%= category._id %>"
                                       method="post">
                                       <input
                                          type="hidden"
                                          name="category"
                                          value="<%= category._id %>" />
                                       <button
                                          type="submit"
                                          class="btn <%= category.isListed ? 'btn-success' : 'btn-danger' %>">
                                       <%= category.isListed ? 'List' : 'Unlist' %>
                                       </button>
                                    </form>
                                 </td>
                                 <td>
                                    <!-- Button to remove offers from the product -->
                                    <% if (category.offerDiscount) { %>
                                       <%= category.offerDiscount %>%
                                    <% } else { %>
                                    No Offer Applied
                                    <% } %>
                                 </td>
                                 <td>
                                    <!-- Button to remove offers from the product -->
                                    <% if (category.offer) { %>
                                    <button class="btn btn-danger"
                                       onclick="removeCategoryOffer('<%= category._id %>')">Remove Offer</button>
                                    <% } else { %>
                                    No Offer Applied
                                    <% } %>
                                 </td>
                                 <td>
                                    <!-- Link for editing category -->
                                    <a href="/admin/editCategory/<%= category._id %>">
                                    <i
                                       class="mdi mdi-pencil-box mdi-36px text-secondary"></i>
                                    </a>
                                 </td>
                              </tr>
                              <% }); %>
                           </tbody>
                        </table>
                        <!-- Display success message if exists -->
                        <% if (successMessage) { %>
                        <div class="alert alert-success" role="alert">
                           <%= successMessage %>
                        </div>
                        <% } %>
                     </div>
                     <!-- Modal for applying category offers -->
                     <div class="modal fade" id="categoryOffersModal" tabindex="-1" role="dialog" aria-labelledby="categoryOffersModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="categoryOffersModalLabel">Select Category and Offer</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <div class="form-group">
                                    <label for="categorySelect">Select Category</label>
                                    <select id="categorySelect" class="form-control" style="background-color: white;">
                                       <% categories.forEach(category => { %>
                                       <option value="<%= category._id %>"><%= category.categoryName %></option>
                                       <% }) %>
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    <label for="offerSelect">Select Offer</label>
                                    <select id="offerSelect" class="form-control" style="background-color: white;">
                                       <% offers.forEach(offer => { %>
                                       <% if (!offer.expiryDate || new Date(offer.expiryDate) > new Date()) { %>
                                       <option value="<%= offer.offerDiscount %>">
                                          <%= offer.offerName %> - <%= offer.offerDiscount %>% Discount
                                       </option>
                                       <% } %>
                                       <% }) %>
                                    </select>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary" onclick="applyCategoryOffer()">Apply Category Offer</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <nav aria-label="Page navigation" class="mt-3">
                        <ul class="pagination justify-content-center">
                          <!-- Previous Button -->
                          <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                      
                          <!-- Page Numbers -->
                          <% for(let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                          <% } %>
                      
                          <!-- Next Button -->
                          <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                      
                     <!-- JavaScript function for searching categories -->
                     <script>
                        function searchCategories() {
                          var input = document.getElementById("categorySearch");
                          var filter = input.value.toUpperCase();
                          var table = document.querySelector(".table");
                          var rows = table.getElementsByTagName("tr");
                        
                          for (var i = 0; i < rows.length; i++) {
                            var categoryName = rows[i].getElementsByTagName("td")[0];
                            if (categoryName) {
                              var textValue =
                                categoryName.textContent || categoryName.innerText;
                              if (textValue.toUpperCase().indexOf(filter) > -1) {
                                rows[i].style.display = "";
                              } else {
                                rows[i].style.display = "none";
                              }
                            }
                          }
                        }
                     </script>

                     <!-- Script for applying category offers -->
                     <script>
                        async function applyCategoryOffer() {
                           const category = document.getElementById('categorySelect').value;
                           const offerDiscount = document.getElementById('offerSelect').value;
                        
                           try {
                              const response = await fetch('/admin/applyCategoryOffer', {
                                    method: 'POST',
                                    headers: {
                                       'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ category, offerDiscount }),
                              });
                        
                              if (response.ok) {
                                    location.reload();
                              } else {
                                    console.error('Error applying category offer');
                              }
                           } catch (error) {
                              console.error('Error applying category offer', error);
                           }
                        }
                     </script>

                      <!-- Script for removing category offers -->
                     <script>
                        async function removeCategoryOffer(categoryId) {
                           try {
                              const response = await fetch(`/admin/removeCategoryOffer/${categoryId}`, {
                                    method: 'POST',
                              });
                        
                              if (response.ok) {
                                    location.reload();
                              } else {
                                    console.error('Error removing category offer');
                              }
                           } catch (error) {
                              console.error('Error removing category offer', error);
                           }
                        }
                     </script>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
<%- include('../layouts/adminFooter') %>